@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("/fonts/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: 700;
    src: local('')
    url("/fonts/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto Slab Bold";
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("/fonts/RobotoSlab-Bold.woff")format("woff"),
    url("/fonts/RobotoSlab-Bold.woff2") format("woff2");
}