
/*----------------footer--------------------*/
.footer {
    background-color: var(--color-baige);
    max-width: 1170px;
    margin: 0 auto;
    height: 80px;
    justify-content: center;
    padding: 0 40px;
}

.footer__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footer-link{
    font-size: 12px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}